node_modules/
dist/
.env
*.local

# Prisma
server/prisma/migrations/
server/prisma/dev.db
server/prisma/*.db

# Uploads
server/uploads/

# Logs
*.log
npm-debug.log*

# Autre
.agents
.claudeignore
CLAUDE.md
skills-lock.json
PROJET_NOTES.md 
.claude
RESUME.md
venv
graphify-out
caveman.md 
skills.md 
taches.md 
